doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/static/Semantic-UI-CSS-master/semantic.min.css')
    script(src="https://code.jquery.com/jquery-3.1.1.min.js",integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=",crossorigin="anonymous" )
    script(src="/static/Semantic-UI-CSS-master/semantic.min.js")
    style.
      .name_card_flip {
        display: none;
      }

      .address_city_card_flip, .address_hno_card_flip, .address_street_card_flip, .address_state_card_flip, .address_pin_card_flip, .pob_city_card_flip, .pob_state_card_flip, .emp_city_card_flip, .emp_company_card_flip, .emp_join_card_flip, .emp_eid_card_flip, .marriage_city_card_flip, .marriage_date_card_flip, .marriage_pastor_card_flip, .marriage_spouse_name_card_flip {
        display: none;
      }

      .age_card_flip {
        display: none;
      }

      #IDFaddress, #IDFname, #IDFpob, #IDFempslip, #IDFmarriage {
        display: none;
      }

      #fill_form{
      display: none;
      }
    style(type='text/css').
      .masthead.segment {
        min-height: 753px;
        padding: 1em 0em;
      }

      .masthead .logo.item img {
        margin-right: 1em;
      }

      .masthead .ui.menu .ui.button {
        margin-left: 0.5em;
      }

      .masthead h1.ui.header {
        margin-top: 3em;
        margin-bottom: 0em;
        font-size: 4em;
        font-weight: normal;
      }

      .masthead h2 {
        font-size: 1.7em;
        font-weight: normal;
      }

      .card {
        height: 250px;
        width: 100px;
      }

      /*.ui .cards{*/
      /*margin: 2.3em -26em;*/
      /*width: 2000px;*/
      /*}*/
      .ui.cards > .card > .content > .header:not(.ui) {
        margin-top: 3.78575em;
      }

      @media only screen and (max-width: 700px) {
        .ui.fixed.menu {
          display: none !important;
        }

        .secondary.pointing.menu .item,
        .secondary.pointing.menu .menu {
          display: none;
        }

        .secondary.pointing.menu .toc.item {
          display: block;
        }

        .masthead.segment {
          min-height: 350px;
        }

        .masthead h1.ui.header {
          font-size: 2em;
          margin-top: 1.5em;
        }

        .masthead h2 {
          margin-top: 0.5em;
          font-size: 1.5em;
        }
      }

    script.
      let response_arrived = false;
      $(document).ready(function () {
        let fields = '#{title}';
        if(fields!="") {
          $('#fill_form').css('display', 'block')
          fields = fields.split(',');
          console.log(fields)
          for (let i in fields) {
            $("#" + fields[i]).css('display', 'block');
          }
        }
        $('.ui.checkbox').checkbox();
        $('.ui.radio.checkbox').checkbox();
        $('select.dropdown').dropdown();
        let card_array = ["name_card", "address_city_card", "address_hno_card", "address_street_card", "address_state_card", "address_pin_card", "pob_city_card", "pob_state_card", "emp_city_card", "emp_company_card", "emp_join_card", "emp_eid_card", "marriage_city_card", "marriage_date_card", "marriage_pastor_card", "marriage_spouse_name_card"];
        for (let i in card_array) {
          $("." + card_array[i]).hover(function () {
            if (response_arrived) {
              $("." + card_array[i] + "_flip").css("display", "block");
            }
          }, function () {
            $("." + card_array[i] + "_flip").css("display", "none");
          });
        }
      });
      sendForm = function () {
        var formData = JSON.stringify($("#myForm").serializeArray());
        formData = JSON.parse(formData);
        if (response_arrived) {
          console.log(response_temp);
          let response_keys = Object.keys(response_temp);
          for (let i = 0; i < response_keys.length; i++) {
            // $("#"+address_details[i])[0].value=response.address[address_details[i]];
            console.log(response_keys[i]);
            let temp = response_temp[response_keys[i]];
            if (typeof (temp[response_keys[i]]) === "object") {
              let response_inner_keys = Object.keys(temp[response_keys[i]]);
              for (let j = 0; j < response_inner_keys.length; j++) {
                for (let k = 0; k < formData.length; k++) {
                  if (formData[k]["name"] === response_inner_keys[j]) {
                    formData[k]["txid"] = temp.txid
                  }
                }
              }
            } else {
              for (let k = 0; k < formData.length; k++) {
                console.log(formData[k]["name"], response_keys[i]);
                if (formData[k]["name"] === response_keys[i]) {
                  formData[k]["txid"] = temp.txid
                }
              }
            }
          }
        }
        console.log(formData);
        $.ajax({
          url: "http://52.203.187.112:3000/users/vendor",
          type: "POST",
          // dataType: "json",
          crossDomain: true,
          data: JSON.stringify(formData),
          success: function (response) {
            console.log(response)
          },
          error: function (jqXHR, textStatus, errorThrown) {
            alert(errorThrown);
          }
        })
      };
      fillAPI = function (pubkey) {
        $.ajax({
          // url:"http://127.0.0.1:3001/idf/getDetails1?pubkey="+pubkey+"&address=req&ageproof=req&name=req",
          url: "http://127.0.0.1:3001/idf/getDetails1?pubkey=" + pubkey + "&address=req&pob=req&name=req;",
          type: "GET",
          crossDomain: true,
          success: function (response, textStatus, jqXHR) {
            response_arrived = true;
            response_temp = response;
            $("#fill_form").css("display", "none");
            $("#sumbit_idf").css("display", "block");
            let response_keys = Object.keys(response);
            // console.log(response_keys)
            for (let i = 0; i < response_keys.length; i++) {
              // $("#"+address_details[i])[0].value=response.address[address_details[i]];
              // console.log(response_keys[i]);
              let temp = response[response_keys[i]];
              if (typeof (temp[response_keys[i]]) === "object") {
                let response_inner_keys = Object.keys(temp[response_keys[i]]);
                for (let j = 0; j < response_inner_keys.length; j++) {
                  $("#" + response_inner_keys[j])[0].value = temp[response_keys[i]][response_inner_keys[j]];
                  let verify_card = $('#' + response_inner_keys[j] + '_verify').children();
                  if (temp.hasOwnProperty("verified_by")) {
                    verify_card[0].innerHTML = "Verified By- " + temp.meta["verified_by"] + ' <i class="right chevron icon circle"></i>' + temp.meta["verifier"]
                  } else {
                    verify_card[0].innerHTML = "Verified By- " + temp.meta["verifier"];
                  }
                  verify_card[1].innerHTML = temp[response_keys[i]][response_inner_keys[j]];
                  verify_card[2].innerHTML = "<b>Txid:<br></b>" + temp.txid;
                }
              } else {
                console.log(response_keys[i])
                $("#" + response_keys[i])[0].value = temp[response_keys[i]];
                let verify_card = $('#' + response_keys[i] + '_verify').children();
                verify_card[0].innerHTML = "Verified By- " + temp.meta.verifier;
                verify_card[1].innerHTML = temp[response_keys[i]];
                verify_card[2].innerHTML = "<b>Txid:<br></b>" + temp.txid;
              }
            }
          },
          error: function (jqXHR, textStatus, errorThrown) {
            alert(errorThrown);
          }
        });
      };






  body
    block content
